{#
/**
 * @file
 * Display Suite 4 column template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - first_wrapper: wrapper element around first region
 * - second_wrapper: wrapper element around second region
 * - third_wrapper: wrapper element around third region
 * - fourth_wrapper: wrapper element around fourth region
 * - attributes: layout attributes
 * - first_attributes: attributes for first region
 * - second_attributes: attributes for second region
 * - third_attributes: attributes for third region
 * - fourth_attributes: attributes for fourth region
 * - first: content of first region
 * - second: content of second region
 * - third: content of third region
 * - fourth: content of fourth region
 */
#}


<div class="square1">
    {{ content.first }}
</div>

<div class="square2">
    {{ content.second }}
</div>

<div class="square3">
    {{ content.third }}
</div>

<div class="square4">
    {{ content.fourth }}
</div>

